<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maintainence Page</title>
  </head>
  <body>
    <h1>Site under Maintainence</h1>
    <p>We will be back soon</p>
    
    {{> footer}}

  </body>
</html>
